{% extends 'base.html' %}
{% load static %}

{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href='{%static "css/user_publication.css"%}' >


    <title>publicaciones</title>
</head>

<body>
    <h1 id="libros"> Mis publicaciones </h1>
<div id="container">
{%for publicacion in object_list%}


<div id="publication_container" > 
    <h3 id="titulo"> {{ publicacion.libro }}</h3>
    
    <img    src="{{ MEDIA_URL }}{{ publicacion.imagen_libro.url}}" alt="imagen del libro"  class="card-img-top">
    <h4 id="descripcion"> {{publicacion.Descripcion}}</h4>

    <a id="btn" href="../../ver_publicacion/{{publicacion.cod}}  "> ver mas</a>
    <a id="actualizar-btn"href="../actualizar_publicacion/{{publicacion.cod}}"> Actualizar</a>
    <a  id="eliminar-btn"href="../eliminar_publicacion/{{publicacion.cod}}"> Eliminar</a>
    

</div>


{%endfor%}
</div>

<div>
    {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% endif %}

            {% for i in paginator.page_range %}
                <li {% if page_obj.number == i %} class="active" {% endif %}>
                    <a href="?page={{i}}">{{ i }}</a>
                </li>
            {% endfor %}

            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% endif %}
        </ul>
    {% endif %}
</div>


{%endblock%}
    
</body>
</html>